<div class="home-text-wrapper">
  <div class="group">
    <img class="logo-photo" src="../../../../assets/images/home/instagram-logo.png">

    <div class="profile-photo">
      <img src="../../../../assets/images/home/profile-photo.png">
    </div>

    <a class="login" href="#">Continue</a>
    <a class="logout" href="#">Remove Account</a>
  </div>

  <div class="group">
    <p class="not-account">Not your account?</p>
    <p class="not-account-options">
      <span class="link-blue">Switch Accounts</span>
      or
      <span class="link-blue">Sign Up</span>
    </p>
  </div>

  <div class="get-app-group">
    <p class="get-app">Get the app.</p>
    <div class="get-app-buttons">
      <a class="app-download" href="#"></a>
      <a class="app-download" href="#"></a>
    </div>
  </div>
</div>
